.container {
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.home-content {
  height: 100vh;
}

.hello {
  margin-top: 40%;
  text-align: left;
  color: #003d6b;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3.6px;
  line-height: normal;
  position: relative;
  z-index: 1;
}
.introduce-text {
  margin-top: 2.438rem;
  text-align: left;
  color: #003d6b;
  font-size: 1rem;
}
.decoration1 {
  height: 100px;
  background-color: #f3f9fe;
  width: 100px;
  border-radius: 50px;
  position: absolute;
  top: 15%;
  z-index: 0;
}
.decoration2 {
  height: 40px;
  background-color: #9dc3e0;
  width: 40px;
  border-radius: 50px;
  position: absolute;
  top: 13%;
  left: 25%;
  z-index: 0;
}
.head {
  font-weight: bold;
  color: #003d6b;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .container.container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
  .hello {
    font-size: 3.25rem;
  }
  #project {
    height: 100vh;
    width: 100vw;
    background-color: #003d6b;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    display: flex;
    position: absolute;
    z-index: 10;
  }
  .project-subtitle {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    display: flex;
    width: 35%;
  }
  #contact {
    height: "100vh";
    background-color: #9bcef5;
    padding: 2.5em 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .container.container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
  .hello {
    font-size: 1.5rem;
  }
  .decoration1 {
    visibility: hidden;
  }
  .decoration2 {
    visibility: hidden;
  }
  #project {
    height: 100vh;
    width: 100vw;
    background-color: #003d6b;
    align-self: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 10;
    padding: 8% 0;
  }
  .project-subtitle {
    width: 50%;
  }
  #contact {
    background-color: #9bcef5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
